[submodule "spotify_client/components/esp32-rotary-encoder"]
	path = spotify_client/components/esp32-rotary-encoder
	url = https://github.com/fherrera124/esp32-rotary-encoder
[submodule "ESP8266_RTOS_SDK"]
	path = ESP8266_RTOS_SDK
	url = https://github.com/fherrera124/ESP8266_RTOS_SDK
[submodule "esp8266-projects/components/u8g2"]
	path = esp8266-projects/components/u8g2
	url = https://github.com/olikraus/u8g2.git
